<template name="userStatus">
    <ul class="media-list">
        {{#each users}}
            <li class="media user-chat">
                <div class="media-left">
                    <a href="#">
                    
                     {{#if profile.avatar}}
                         <img class="avatar-status" src="{{profile.avatar}}"/>
                     {{else}}
                         <img class="avatar-status" src="/images/no-image.png"/>
                     {{/if}}
                      
                    </a>
                </div>
                <div class="media-body media-middle">
                    <h6 class="media-heading">{{profile.name}}</h6>
                    <h6 class="media-heading"><a class="userchat">Chat</a>{{#if userCall}} |  <a class="usercall">Call</a>{{/if}}</h6>
                </div>
                <div class="media-right media-middle">
                    <i class="fa fa-circle {{userClass}}-status"></i>
                </div>
            </li>
        {{/each}}
    </ul>
</template>