<template name="userStatus">
    <ul class="media-list">
        {{#each users}}
            <li class="media">
                <div class="media-left">
                    <a href="#">
                    
                     {{#if profile.avatar}}
                         <img class="media-object" src="{{profile.avatar}}" width="30px"/>
                     {{else}}
                         <img class="media-object" src="/images/no-image.png" width="30px"/>
                     {{/if}}
                      
                    </a>
                </div>
                <div class="media-body media-middle">
                    <h6 class="media-heading">{{profile.name}}</h6>
                </div>
                <div class="media-right media-middle">
                    <i class="fa fa-circle {{userClass}}-status"></i>
                </div>
            </li>
        {{/each}}
    </ul>
</template>