@import 'fonts.scss';

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;

  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      border-top: 1px solid #E5E7EA;
    }

    font-family: "lato" !important;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body {

  .navbar-inverse {
    background-color: #333333;
  }

  > .container {
    padding: 0 15px 0;
  }

  .container {
    .text-muted {
      margin: 20px 0;
    }

    .thumbnail {
      padding: 0;
    }

    .media-left .media-object {
      max-width: 64px;
    }
  }

  .footer {
    display: none;

    > .container {
      padding: 20px 15px 0 15px;
      text-align: center;
    }
  }

  .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #fff;
  }

  .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
    color: #9d9d9d;
  }

  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background: none;
  }

  .nav > li > a {
    color: #fff;
  }

  .nav > li > a:hover, .nav > li > a:focus, .nav > li > a.active {
    color: #fff;
    background: none;
  }

  .nav.nav-post > li > a:hover, .nav.nav-post > li > a:focus, .nav.nav-post > li > a.active {
    border-bottom: 3px #1bbc9b solid;
  }

  .jumbotron {
    background: url("images/ball1.jpg") no-repeat center center;
    color: #ffffff;
    margin-bottom: 0px;
    height: 400px;
    background-size: cover;

    .container {
      .upload-area input[type="file"] {
        //opacity: 0;
      }

      .upload-area {
        padding: 85px 0;
      }

      .nav-post {
        text-transform: uppercase;
      }
    }
  }

  code {
    font-size: 80%;
  }
}