@import 'fonts.scss';

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;

  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      border-top: 1px solid #E5E7EA;
    }

    font-family: "lato" !important;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body {

  > .container {
    padding: 0 15px 0;
  }

  .container {
    .text-muted {
      margin: 20px 0;
    }

    .thumbnail {
      padding: 0;
    }

    .media-left .media-object {
      max-width: 64px;
    }
  }

  .footer {
    > .container {
      padding: 20px 15px 0 15px;
      text-align: center;
    }
  }

  #navbar {
    .dropdown > a {
      padding: 15px 0;
    }

    .avatar {
      width: 30px;
    }
  }

  .jumbotron {
    background: url("images/jumbotron.jpg") no-repeat center center;
    color: #ffffff;
    margin-bottom: 0px;
    height: 300px;

    .container {
      .upload-area input[type="file"] {
        //opacity: 0;
      }

      .upload-area {
        padding: 37px 0;
      }
    }
  }

  code {
    font-size: 80%;
  }
}