/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;

  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      border-top: 1px solid #E5E7EA;
      color: #31c4a1;
      text-transform: uppercase;
    }
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body {

  > .container {
    padding: 0 15px 0;
  }

  .container {
    .text-muted {
      margin: 20px 0;
    }
  }

  .footer {
    > .container {
      padding: 20px 15px 0 15px;
      text-align: center;
    }
  }

  #navbar {
    .dropdown > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .avatar {
      width: 30px;
    }
  }

  .jumbotron {
    background: url("images/jumbotron.jpg") no-repeat center center;
    color: #ffffff;
    margin-bottom: 0px;
  }

  code {
    font-size: 80%;
  }
}