<template name="video">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="images/{{number}}.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Tai LE</h4>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                        gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    </div>
                </div>
            </div>
            <div class="embed-responsive-item">
                <video width="100%" controls>
                    <source src="videos/{{number}}.mp4" type="video/mp4">
                    <source src="videos/{{number}}.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="row">
                <div class="col-md-12 text-right" style="margin:10px 0; right: 15px">
                    <a href="#"><i class="fa fa-reply"></i></a> &nbsp;
                    <a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> &nbsp;
                    <a href="#">1h</a>
                </div>
            </div>
        </div>
    </div>
</template>