<template name="status">
    <h3>Local status:</h3>

    <button class="btn btn-success resync">Resync Time</button>

    <dl class="dl-horizontal">
        <dt>Server Time:</dt><dd>{{serverTime}}</dd>
        <dt>Local Offset:</dt><dd>{{serverOffset}} ms</dd>
        <dt>RTT:</dt><dd>{{serverRTT}} ms</dd>
        <dt>Idle:</dt><dd>{{isIdleText}}</dd>
        <dt>Monitor on:</dt><dd>{{isMonitoringText}}</dd>
        <dt>Last Activity:</dt><dd>{{lastActivity}}</dd>
    </dl>

    {{#if isMonitoring}}
        <h4>Idle monitoring is on.</h4>
        <button class="btn btn-danger stop-monitor">Stop Monitor</button>
    {{else}}
        <form class="start-monitor">
            <legend>Start monitor with the following parameters:</legend>
            <label>Idle Threshold:</label>
            <input class="form-control" name="threshold" type="number" min="5000" step="1" value="30000" required>
            <label>Monitor Interval:</label>
            <input class="form-control" name="interval" type="number" min="1000" step="1" value="1000" required>
            <label>Idle on window blur:</label>
            <select class="form-control" name="idleOnBlur" required>
                <option value="true" selected>true</option>
                <option value="false">false</option>
            </select>
            <button type="submit" class="btn btn-primary pull-right">Start Monitor</button>
        </form>
    {{/if}}
</template>