<template name="feed">
    {{> contentFor region="jumbotron" template="jumbotronProfile"}}
    <div class="grid-content row">
        <div class="item">
            <div class="thumbnail">
                <div class="caption">
                    <div class="media">
                        <div class="media-left">
                            <a href="/posts/MSMjKAgzNbewyZ6oa">
                                <img class="media-object" src="{{currentUser.profile.avatar}}" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Tai LE</h4>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante so ...</p>
                        </div>
                    </div>
                </div>


                <img src="https://letstalkeasy.s3-ap-southeast-1.amazonaws.com/tai.le@infonam.com/12010543_680998062035526_2933092022005665404_o.jpg"
                     alt="..." style="max-height: 266px">


                <div class="row">
                    <div class="col-md-12 text-right" style="margin:10px 0; right: 15px">
                        <a href="#"><i class="fa fa-reply"></i></a> &nbsp;
                        <a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> &nbsp;
                        <a href="#">1h</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <div class="caption">
                    <div class="media">
                        <div class="media-left">
                            <a href="/posts/7GGxFXHoWskQrrkDx">
                                <img class="media-object" src="/images/1.jpg" alt="..." data-pin-nopin="true">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Tai LE</h4>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante so ...</p>
                        </div>
                    </div>
                </div>


                <img src="https://letstalkeasy.s3-ap-southeast-1.amazonaws.com/tai.le@infonam.com/11952875_680879318714067_8330000888346515388_o.jpg"
                     alt="...">


                <div class="row">
                    <div class="col-md-12 text-right" style="margin:10px 0; right: 15px">
                        <a href="#"><i class="fa fa-reply"></i></a> &nbsp;
                        <a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> &nbsp;
                        <a href="#">1h</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <div class="caption">
                    <div class="media">
                        <div class="media-left">
                            <a href="/posts/7GGxFXHoWskQrrkDx">
                                <img class="media-object" src="/images/1.jpg" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Tai LE</h4>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante so ...</p>
                        </div>
                    </div>
                </div>


                <img src="https://letstalkeasy.s3-ap-southeast-1.amazonaws.com/tai.le@infonam.com/11952875_680879318714067_8330000888346515388_o.jpg"
                     alt="...">


                <div class="row">
                    <div class="col-md-12 text-right" style="margin:10px 0; right: 15px">
                        <a href="#"><i class="fa fa-reply"></i></a> &nbsp;
                        <a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> &nbsp;
                        <a href="#">1h</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <div class="caption">
                    <div class="media">
                        <div class="media-left">
                            <a href="/posts/MSMjKAgzNbewyZ6oa">
                                <img class="media-object" src="/images/1.jpg" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Tai LE</h4>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante so ...</p>
                        </div>
                    </div>
                </div>


                <img src="https://letstalkeasy.s3-ap-southeast-1.amazonaws.com/tai.le@infonam.com/12010543_680998062035526_2933092022005665404_o.jpg"
                     alt="..." style="max-height: 266px">


                <div class="row">
                    <div class="col-md-12 text-right" style="margin:10px 0; right: 15px">
                        <a href="#"><i class="fa fa-reply"></i></a> &nbsp;
                        <a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> &nbsp;
                        <a href="#">1h</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <div class="caption">
                    <div class="media">
                        <div class="media-left">
                            <a href="/posts/mmvsqjZo5rZs5dSPW">
                                <img class="media-object" src="/images/1.jpg" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Tai LE</h4>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante so ...</p>
                        </div>
                    </div>
                </div>


                <img src="https://letstalkeasy.s3-ap-southeast-1.amazonaws.com/tai.le@infonam.com/11224707_680997825368883_3468154619485274235_o.jpg"
                     alt="..." style="max-height: 266px">


                <div class="row">
                    <div class="col-md-12 text-right" style="margin:10px 0; right: 15px">
                        <a href="#"><i class="fa fa-reply"></i></a> &nbsp;
                        <a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> &nbsp;
                        <a href="#">1h</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <div class="caption">
                    <div class="media">
                        <div class="media-left">
                            <a href="/posts/mmvsqjZo5rZs5dSPW">
                                <img class="media-object" src="/images/1.jpg" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Tai LE</h4>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante so ...</p>
                        </div>
                    </div>
                </div>


                <img src="https://letstalkeasy.s3-ap-southeast-1.amazonaws.com/tai.le@infonam.com/11224707_680997825368883_3468154619485274235_o.jpg"
                     alt="..." style="max-height: 266px">


                <div class="row">
                    <div class="col-md-12 text-right" style="margin:10px 0; right: 15px">
                        <a href="#"><i class="fa fa-reply"></i></a> &nbsp;
                        <a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> &nbsp;
                        <a href="#">1h</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <div class="caption">
                    <div class="media">
                        <div class="media-left">
                            <a href="/posts/7GGxFXHoWskQrrkDx">
                                <img class="media-object" src="/images/1.jpg" alt="..." data-pin-nopin="true">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Tai LE</h4>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante so ...</p>
                        </div>
                    </div>
                </div>


                <img src="https://letstalkeasy.s3-ap-southeast-1.amazonaws.com/tai.le@infonam.com/11952875_680879318714067_8330000888346515388_o.jpg"
                     alt="...">


                <div class="row">
                    <div class="col-md-12 text-right" style="margin:10px 0; right: 15px">
                        <a href="#"><i class="fa fa-reply"></i></a> &nbsp;
                        <a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> &nbsp;
                        <a href="#">1h</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <div class="caption">
                    <div class="media">
                        <div class="media-left">
                            <a href="/posts/7GGxFXHoWskQrrkDx">
                                <img class="media-object" src="/images/1.jpg" alt="..." data-pin-nopin="true">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Tai LE</h4>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante so ...</p>
                        </div>
                    </div>
                </div>


                <img src="https://letstalkeasy.s3-ap-southeast-1.amazonaws.com/tai.le@infonam.com/11952875_680879318714067_8330000888346515388_o.jpg"
                     alt="...">


                <div class="row">
                    <div class="col-md-12 text-right" style="margin:10px 0; right: 15px">
                        <a href="#"><i class="fa fa-reply"></i></a> &nbsp;
                        <a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> &nbsp;
                        <a href="#">1h</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <div class="caption">
                    <div class="media">
                        <div class="media-left">
                            <a href="/posts/MSMjKAgzNbewyZ6oa">
                                <img class="media-object" src="/images/1.jpg" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Tai LE</h4>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante so ...</p>
                        </div>
                    </div>
                </div>


                <img src="https://letstalkeasy.s3-ap-southeast-1.amazonaws.com/tai.le@infonam.com/12010543_680998062035526_2933092022005665404_o.jpg"
                     alt="..." style="max-height: 266px">


                <div class="row">
                    <div class="col-md-12 text-right" style="margin:10px 0; right: 15px">
                        <a href="#"><i class="fa fa-reply"></i></a> &nbsp;
                        <a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> &nbsp;
                        <a href="#">1h</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <div class="caption">
                    <div class="media">
                        <div class="media-left">
                            <a href="/posts/7GGxFXHoWskQrrkDx">
                                <img class="media-object" src="/images/1.jpg" alt="..." data-pin-nopin="true">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Tai LE</h4>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante so ...</p>
                        </div>
                    </div>
                </div>


                <img src="https://letstalkeasy.s3-ap-southeast-1.amazonaws.com/tai.le@infonam.com/11952875_680879318714067_8330000888346515388_o.jpg"
                     alt="...">


                <div class="row">
                    <div class="col-md-12 text-right" style="margin:10px 0; right: 15px">
                        <a href="#"><i class="fa fa-reply"></i></a> &nbsp;
                        <a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> &nbsp;
                        <a href="#">1h</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <div class="caption">
                    <div class="media">
                        <div class="media-left">
                            <a href="/posts/mmvsqjZo5rZs5dSPW">
                                <img class="media-object" src="/images/1.jpg" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Tai LE</h4>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante so ...</p>
                        </div>
                    </div>
                </div>


                <img src="https://letstalkeasy.s3-ap-southeast-1.amazonaws.com/tai.le@infonam.com/11224707_680997825368883_3468154619485274235_o.jpg"
                     alt="..." style="max-height: 266px">


                <div class="row">
                    <div class="col-md-12 text-right" style="margin:10px 0; right: 15px">
                        <a href="#"><i class="fa fa-reply"></i></a> &nbsp;
                        <a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> &nbsp;
                        <a href="#">1h</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>