<template name="postDetail">
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
	<div class="item">
        <div class="thumbnail">
            

            {{#if isImage url}}
                <img src="{{url}}" alt="{{url}}">
            {{else}}
                {{#if isVideo url}}
                    <div class="embed-responsive-item">
                        <video width="100%" controls>
                            <source src="{{url}}" type="video/mp4">
                            <source src="{{url}}" type="video/ogg">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                {{/if}}
            {{/if}}
			<div class="caption">
                <div class="media">
                    <div class="media-left">
                        <a href="{{pathFor 'postDetail'}}">
                            <img class="media-object" src="/images/1.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Tai LE</h4>
                        <p><a href="{{pathFor 'postDetail'}}">{{titleText}}</a></p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12 text-right" style="margin:10px 0; right: 15px">
                    <a href="#"><i class="fa fa-reply"></i></a> &nbsp;
                    <a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> &nbsp;
                    <a href="#">1h</a>
                </div>
            </div>
            {{> commentPost}}
            <br>
            <ul class="comments media-list">
      {{#each comments}}
        {{> commentItem}}
      {{/each}}
    </ul>
        </div>
    </div>

</div>
</div>



</template>