<template name="post">  
<div class="item">
<div class="thumbnail">
                <div class="caption">
                    <div class="media">
                        <div class="media-left">
                        
                            <a href="{{pathFor 'postDetail'}}">
                             {{#if profile.avatar}}
                             	<img class="media-object" src="{{profile.avatar}}" alt="...">
                                  
                                {{else}}
                                	<img class="media-object" src="/images/no-image.png" alt="...">
                                 
                                {{/if}}
                                
                            </a>
                        </div>
                       <div class="media-body">
                        <div class="media-heading">
                            	<a href="{{pathFor 'postDetail'}}">{{profile.name}}</a>
<div class="like-action" style="display: none;"><a href="#"><i class="fa fa-reply"></i></a> &nbsp;
                        		<a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> &nbsp;
                        		</div>
                        		<p>
                        		{{livestamp timepost}}
                        		</p>
                        	</div>                      
                        </div>
                 
                    </div>
                </div>
<p class="content-item">{{titleText}}</p>

                {{#if isImage url}}
                <a href="{{pathFor 'postDetail'}}"><img class="image-item"  src="{{url}}" alt="{{url}}"></a>
            {{else}}
                {{#if isVideo url}}
                    <div class="embed-responsive-item">
                        <a href="{{pathFor 'postDetail'}}"><video width="100%" controls>
                            <source src="{{url}}" type="video/mp4">
                            <source src="{{url}}" type="video/ogg">
                            Your browser does not support the video tag.
                        </video></a>
                    </div>
                {{/if}}
            {{/if}}

            </div>
</div>

        
       
</template>