<template name="postDetail">
    <br />

    <div class="row">
        {{> post}}

        <ul class="media-list">
            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/images/avatar.jpg" width="30" alt="...">
                    </a>
                </div>
                <div class="media-body media-middle">
                    Hi, how are you ?
                </div>
                <div class="media-right media-middle" style="white-space: nowrap">
                    10 min
                </div>
            </li>
            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/images/1.jpg" width="30" alt="...">
                    </a>
                </div>
                <div class="media-body media-middle">
                    I'm fine. And you ?
                </div>
                <div class="media-right media-middle" style="white-space: nowrap">
                    9 min
                </div>
            </li>
            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/images/avatar.jpg" width="30" alt="...">
                    </a>
                </div>
                <div class="media-body media-middle">
                    What are you living ?
                </div>
                <div class="media-right media-middle" style="white-space: nowrap">
                    5 min
                </div>
            </li>
            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/images/1.jpg" width="30" alt="...">
                    </a>
                </div>
                <div class="media-body media-middle">
                    HCM, City
                </div>
                <div class="media-right media-middle" style="white-space: nowrap">
                    just now
                </div>
            </li>
        </ul>
    </div>
</template>