<template name="commentItem">
<li class="media">
                <div class="media-left">
                    <a href="#">
                    {{#if profile.avatar}}
                    <img class="media-object" src="{{profile.avatar}}" width="30" alt="...">
                                 
                                {{else}}
                                <img class="media-object" src="/images/no-image.png" width="30" alt="...">
                         
                                {{/if}}
                        
                    </a>
                </div>
                
                <div class="media-body media-middle">
                <p class="media-heading"><a>{{profile.name}}</a> {{submittedText}}</p>
                    
                </div>
                <div class="time-ago">{{livestamp timepost}}</div>
                
            </li>
</template>
