<template name="commentItem">
<li class="media">
                <div class="media-left">
                    <a href="#">
                    {{#if avatar}}
                    <img class="media-object" src="{{avatar}}" width="30" alt="...">
                                 
                                {{else}}
                                <img class="media-object" src="/images/no-image.png" width="30" alt="...">
                         
                                {{/if}}
                        
                    </a>
                </div>
                <div class="media-body media-middle">
                    {{submittedText}}
                </div>
                <div class="media-right media-middle" style="white-space: nowrap">
                    <p>{{livestamp timepost}}</p>
                </div>
            </li>
</template>
