<template name="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'posts'}}"><i class="fa fa-comments"></i> &nbsp; LetsTalkEasy</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {{#if currentUser}}
                        <li class="dropdown">
                            {{> notifications}}
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                {{#if userIdentity currentUser._id}}
                                    {{userIdentity currentUser._id}}
                                {{else}}
                                    email is empty
                                {{/if}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{pathFor 'feed'}}">Profile</a></li>
                                <li><a href="{{pathFor 'followers'}}">Followers</a></li>
                                <li><a href="{{pathFor 'following'}}">Following</a></li>
                                <li><a href="{{pathFor 'settings'}}">Settings</a></li>
                                <li class="logout"><a href="#">Log out</a></li>
                            </ul>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</template>