<template name="jumbotron">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {{> upload }}

                    <ul class="nav navbar-nav nav-post">
                        <li><a href="{{pathFor 'posts'}}" class="{{isActiveRoute 'posts'}}">all posts</a></li>
                        <li><a href="{{pathFor 'photos'}}" class="{{isActiveRoute 'photos'}}">photos</a></li>
                        <li><a href="{{pathFor 'videos'}}" class="{{isActiveRoute 'videos'}}">videos</a></li>
                        <li><a href="{{pathFor 'demo'}}" class="{{isActiveRoute 'demo'}}">users status</a></li>
                        <li><a href="{{pathFor 'webrtc' roomName=123}}" class="{{isActiveRoute 'webrtc'}}">webrtc</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</template>