<template name="jumbotronProfile">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div id="profile" style="text-align: center; margin: 2px 0">
                        <div class="row"><img src="{{currentUser.profile.avatar}}" width="99" /></div>
                        <div class="row"><h3>{{currentUser.profile.name}}</h3></div>
                       <!--  <div class="row">Designer and Developer living in San Diego, CA</div> -->
                        <div class="row"><a href="#">{{userIdentity currentUser._id}}</a></div>
                    </div>

                    <ul class="nav navbar-nav nav-post">
                        <li><a href="{{pathFor 'feed'}}" class="{{isActiveRoute 'feed'}}">jessica's feed</a></li>
                        <li><a href="{{pathFor 'followers'}}" class="{{isActiveRoute 'followers'}}">2,542 followers</a></li>
                        <li><a href="{{pathFor 'following'}}" class="{{isActiveRoute 'following'}}">517 following</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>