<template name="jumbotron">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {{> upload }}

                    <ul class="nav navbar-nav nav-post">
                        <li><a href="{{pathFor 'posts'}}" class="{{isActiveRoute 'posts'}}">all posts</a></li>
                        <li><a href="{{pathFor 'photos'}}" class="{{isActiveRoute 'photos'}}">photos</a></li>
                        <li><a href="{{pathFor 'videos'}}" class="{{isActiveRoute 'videos'}}">videos</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
                        </li>
                        <li>
                            <a href="#" class="active"><span class="glyphicon glyphicon-th"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>