<template name="sidebar">
    <ul class="media-list">
        <li class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="images/avatar.jpg" width="40" alt="...">
                </a>
            </div>
            <div class="media-body media-middle">
                <h6 class="media-heading">Samihah Azim</h6>
            </div>
            <div class="media-right media-middle">
                <i class="fa fa-circle online-status"></i>
            </div>
        </li>

        <li class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="images/avatar.jpg" width="40" alt="...">
                </a>
            </div>
            <div class="media-body media-middle">
                <h6 class="media-heading">Samihah Azim</h6>
            </div>
            <div class="media-right media-middle">
                <i class="fa fa-circle idle-status"></i>
            </div>
        </li>

        <li class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="images/avatar.jpg" width="40" alt="...">
                </a>
            </div>
            <div class="media-body media-middle">
                <h6 class="media-heading">Samihah Azim</h6>
            </div>
            <div class="media-right media-middle">
                <i class="fa fa-circle offline-status"></i>
            </div>
        </li>
    </ul>
</template>