<template name="footer">
    <footer class="footer">
        <div class="container">
            <ul class="list-inline">
                <li><a href="{{pathFor 'about-us'}}">about us</a></li>
                <li><a href="{{pathFor 'support'}}">support</a></li>
                <li><a href="{{pathFor 'privacy'}}">privacy</a></li>
                <li><a href="{{pathFor 'terms'}}">terms</a></li>
                <li>&copy;2015 LetsTalkEasy</li>
            </ul>
        </div>
    </footer>
</template>