<template name="footer">
    <footer class="footer">
        <div class="container">
            <ul class="list-inline">
                <li><a href="{{pathFor 'about-us'}}">About Us</a></li>
                <li><a href="{{pathFor 'support'}}">Support</a></li>
                <li><a href="{{pathFor 'privacy'}}">Privacy</a></li>
                <li><a href="{{pathFor 'terms'}}">Terms</a></li>
                <li>&copy;2015 LetsTalkEasy</li>
            </ul>
        </div>
    </footer>
</template>